<h1>Wine Guide</h1>

<p>This is an overly generalized guide made based on personal opinion. Please take recommendations with a grain of salt!</p>

<p><strong>This site is the accompaniment to some short presentations I gave:</strong></p>
<p><a href="https://docs.google.com/presentation/d/1-yQM3tZGTXsDrcXXo-ws5MZ-R3WfkSyyc0Fpv39RrJY/edit?usp=sharing" target="blank">What Wine Should I Buy Tonight?</a>
<p><a href="https://drive.google.com/file/d/1VCSE84ERs6Sz0jJgAHMR0_XVCwLywX2Y/view?usp=sharing" target="blank">About Natural Wine</a>

<% data.wines.categories.each do |category| %>

  <h2 class="section-title">
    <img src="images/<%= category.image %>" class="category__image"/>
    <%= category.title %>
  </h2>

  <% category.wines.each do |wine| %>
    <h3><%= wine.title %></h3>
    <% wine.sections.each do |section| %>
      <p><strong><%= section.section_title %>:</strong> <%= section.section_content %></p>
    <% end %>
  <% end %>
<% end %>

<footer><small>Created by Vendela · Updated 2025</small><footer>